{{ if .Get "default" }}
  {{ template "_internal/shortcodes/figure.html" . }}
{{ else }}

  {{ $imghost := "" }}
  {{ $section := $.Page.CurrentSection }}
  {{ $altsec1 := $.Site.Params.mediaAltSec1 }}
    
  {{ if in $section $altsec1 }}
    {{ $imghost = $.Site.Params.mediaHostAlt1 }}
  {{ else }}
    {{ $imghost = $.Site.Params.mediaHost }}
  {{ end }}

  {{ $imgslug:= urls.Parse (.Get "src") }}
  {{ $ihost := $imghost }}
  {{ $ipath := printf "%s%s" $ihost $imgslug }}


  <!-- {{ $altText := .Get "alt" }} -->
  {{ $altText := .Get "cap" }}
  
  <!-- {{ $caption := .Get "caption" }} -->
  {{ $caption := .Get "cap" }}

  {{ $class := default "mx-auto my-0 rounded-md" (.Get "class") }}

  {{ $file := $imgslug.Path }}
  {{ $img := .Page.Resources.GetMatch $file }}
  {{- if and (not $img) .Page.File }}
    {{ $path := path.Join .Page.File.Dir $file }}
    {{ $img = resources.Get $path }}
  {{ end -}}

  <!-- prettier-ignore -->
  <figure{{ with $class }} class="{{ . }} figmarg"{{ end }}>
    <a href="{{ $ipath }}">
    {{- with $img -}}
      {{ $lazy := $.Page.Site.Params.enableImageLazyLoading | default true }}
      {{ $webp := $.Page.Site.Params.enableImageWebp | default true }}
      {{ partial "picture.html" (dict "img" . "alt" $altText "class" $class "lazy" $lazy "webp" $webp) }}
    {{- else -}}
      <img src="{{ $ipath }}" alt="{{ $altText }}" class="{{ $class }}"/>
    {{- end -}}

    </a>
    {{ with $caption }}<figcaption class="text-center">{{ . | markdownify }}</figcaption>{{ end }}
  </figure>
{{ end }}
